@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin:0;
    padding:0;
}

body {
    font-family: "Nunito";
    background-color: #F5EFE6;
}

header {
    background-color: #E8DFCA;
    margin: 50px 50px;
    padding: 30px;
}

h1 {
    font-size: 55px;
    text-align: center;
    color: #1A4D2E;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #4F6F52;
}

h3 {
    color: #1A4D2E;
    text-align: center;
}

.titulo-talleres {
    padding: 10px 10px;
    background-color: #4F6F52;
    color: #F5EFE6;
}

.fondo-seccion {
    color: #E8DFCA;
    background-color: #4F6F52 
}

a {
    text-decoration: none;
    color: #4F6F52;
    font-weight: 700; 
}

a:hover{
    background-color: #1A4D2E;
    color: #E8DFCA;
}

.imagen {
    display: flex;
    justify-content: center;
    margin: 50px;
    max-width: 100%;
    height: auto;
}

.ciclo-imagen-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ciclo-imagen {
    max-width: 100%;
    height: auto;
}

.image-gallery {
    display: flex;
    padding: 10px;
    gap: 10px;
    margin: 30px 10px;
}

.image-item {
    width: 450px; /* Define el ancho fijo */
    height: 450px; /* Define el alto fijo */
}

.image-item img {
    width: 100%; /* La imagen se adapta al ancho del contenedor */
    height: 100%; /* La imagen se adapta al alto del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
}

p {
    text-align: justify;
}

.primerparrafo {
    margin: 30px 225px;
    border-style: dotted;
    border-color: #4F6F52;
    background-color: #E8DFCA;
    padding: 50px;
}

.segundoparrafo{
    text-align: left;
}

.talleres{
    background-color: #F5EFE6;
    border-style: solid;
    border-color: #4F6F52;
    margin: 30px 10px 30px 10px;
}

.form-control2 {
    padding: 60px;
}

#emailForm{
    margin: 20px 1px 10px 1px;
}
#edadForm{
    margin: 20px 5px 10px 5px;
}
#nombreForm{
    margin: 20px 1px 10px 1px;
}

#cocktail-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.coctel-titulo {
    font-size: 15px;
    text-align: center;
}

.coctel-texto {
    margin: 30px 130px;
}

.coctel-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Estilos comunes para ambos formularios */
.formulario-comun {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

/* Estilos para los elementos del formulario */
.formulario-comun input,
.formulario-comun textarea,
.formulario-comun select,
.formulario-comun button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formulario-comun textarea {
    resize: vertical;
}

.formulario-comun button {
    background-color: #4F6F52;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.formulario-comun button:hover {
    background-color: #4F6F52;
}

.cafecito {
    text-align: center;
}

footer {
    background-color: #E8DFCA;
    margin: 0;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribuye las dos secciones */
    align-items: center; /* Alinea verticalmente al centro */
}

.footer-left {
    text-align: left;
}

.footer-right {
    display: flex; /* Aplica flexbox solo en la sección derecha */
    justify-content: flex-end; /* Alinea el contenido de .footer-right a la derecha */
    flex-grow: 1; /* Permite que .footer-right ocupe todo el espacio restante */
}

.footer-right a {
    margin-left: 10px; /* Espaciado entre los iconos */
}

.footer-right img {
    width: 24px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: 24px;
}

@media (max-width: 600px) {
    header {
        margin: 0px;
        margin-bottom: 20px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
        margin: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .imagen {
        width: 70%;
        height: auto;
        justify-content: center;
    }

    .primerparrafo {
        margin: 10px 20px;
        padding: 10px;
    }

    .image-item {
        width: 150px;
        height: 150px;
    }

    footer {
        flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
        align-items: flex-start; /* Alinea elementos al inicio */
        padding: 20px; /* Ajusta el padding para pantallas pequeñas */
    }

    .footer-left, .footer-right {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin-bottom: 10px; /* Espaciado entre secciones */
    }

    .footer-right {
        justify-content: flex-start; /* Alinea los iconos a la izquierda en pantallas pequeñas */
    }

    .footer-right a {
        margin-left: 0; /* Elimina el espaciado entre iconos */
        margin-right: 10px; /* Agrega espaciado solo a la derecha de los iconos */
    }

    .footer-right img {
        width: 20px; /* Reduce el tamaño de los iconos en pantallas pequeñas */
        height: 20px;
    }

    footer .social-icons {
        justify-content: flex-end;
    }
    
    .form-control2 {
        padding: 0px;
    }

    #cocktail-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
    }

    .coctel-titulo {
        font-size: 8px;
        text-align: center;
    }

    .coctel-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    #mensaje {
        width: 275px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    header {
        margin: 25px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }
    
    p {
        font-size: 18px;
    }

    .imagen {
        width: 85%;
        height: auto;
        justify-content: center;
    }

    .primerparrafo {
        margin: 20px 50px;
        padding: 20px;
    }

    .form-control2 {
        padding: 0px;
    }

    #cocktail-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
    }

    .coctel-titulo {
        font-size: 10px;
        text-align: center;
    }

    .coctel-img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    #mensaje {
        width: 375px;
    }
}