@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin:0;
    padding:0;
}

body {
    font-family: "Nunito";
    background-color: #F5EFE6;
}

header {
    background-color: #E8DFCA;
    margin: 50px 50px;
    padding: 30px;
}

h1 {
    font-size: 55px;
    text-align: center;
    color: #1A4D2E;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #4F6F52;
}

h3 {
    color: #1A4D2E;
}

h4 {
    padding: 10px 0px;
}

.fondo-seccion {
    color: #E8DFCA;
    background-color: #4F6F52 
}

a {
    text-decoration: none;
    color: #4F6F52;
    font-weight: 700; 
}

a:hover{
    background-color: #1A4D2E;
    color: #E8DFCA;
}

.imagen {
    display: flex;
    justify-content: center;
    margin: 50px;
    max-width: 100%;
    height: auto;
}

.primerparrafo {
    text-align: center;
    margin: 30px 325px;
    border-style: dotted;
    border-color: #4F6F52;
    background-color: #E8DFCA;
    padding: 30px;
}

.segundoparrafo{
    text-align: left;
}

.form-control2 {
    padding: 60px;
}

.cafecito {
    text-align: center;
}

footer {
    background-color: #E8DFCA;
    margin: 0px;
    padding: 30px;
    text-align: right;
    width: 100%;
}

@media (max-width: 576px) {
    header {
        margin: 0px;
        margin-bottom: 20px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
        margin: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .imagen {
        width: 70%;
        height: auto;
        justify-content: center;
    }

    .primerparrafo {
        margin: 10px 20px;
        padding: 10px;
    }

    footer {
        height: auto;
        text-align: right;
        justify-content: right;
    }

    footer .social-icons {
        justify-content: flex-end;
    }
    
    .form-control2 {
        padding: 0px;
    }
}

@media (min-width: 576px) and (max-width: 1024px) {
    header {
        margin: 25px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }
    
    p {
        font-size: 18px;
    }

    .imagen {
        width: 85%;
        height: auto;
        justify-content: center;
    }

    .primerparrafo {
        margin: 20px 225px;
        padding: 20px;
    }

    footer {
        height: auto;
        text-align: right;
        justify-content: right;
    }

    .form-control2 {
        padding: 0px;
    }

}